* {
    padding: 0;
    margin: 0;
    outline: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    vertical-align: middle;
}

ul,
li {
    list-style: none;
}

.full_wrapper {
    width: 100%;
}

.container {
    width: 960px;
    margin: 0 auto;
}

/* common css end */

/* menu part start  */
.menu_full {
    width: 100%;
    background: #163e4f;
}

.menu_cont {
    height: 45px;
    background: red;
    display: grid;
    align-items: center;
}

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.main_menu ul{
    display: flex;
}
/* menu part end  */

/* banner part start  */

/* banner part end */
